body {
    height: 100%;
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
    background: rgb(180, 216, 248);
    padding: 70px 0;
    text-align: center;
}

.handkarten:enabled {
    background-color: #186425;
    box-shadow: 3px 3px 3px #186425;
}

.handkarten:disabled {
    background-color: #787b7e;
    box-shadow: 3px 3px 3px #787b7e;
}

.red:enabled {
    background-color: #4b0512;
    box-shadow: 3px 3px 3px #4b0512;
}

.red:disabled {
    background-color: #312e2f;
    box-shadow: 3px 3px 3px #312e2f;
}

.speicher {
    background-color: #6594bd;
    box-shadow: 3px 3px 3px #4b7396;
}

.ablagestapel {
    background-color: #375773;
    box-shadow: 3px 3px 3px #375773;
}

.button {
    background-color: #8f642d;
    box-shadow: 3px 3px 3px #8f642d;
}

.handkarten, .ablagestapel, .speicher, .button {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 3%;
    font-size: 55px;
    margin: 10px 5px;
    border-radius: 12px;
    width: 13%;
    height: 30%;
}